# 31 Jan 2024

Lab : 2

###(1) : Write a program to print numbers divisible by both 7 and 8. Numbers between 1 and 1000.

Numbers like 56, which are both divisible by 7 and 8
###(a): Using continue statement

In [ ]:
result = []
for i in range(1,1001):
  div_8 = i%8
  div_7 = i%7
  if(div_8 == 0 and div_7 == 0):
    result.append(i)
  else:
    continue
print("Number divisible by 7 and 8 , using continue are : \n",result)

Number divisible by 7 and 8 , using continue are :
 [56, 112, 168, 224, 280, 336, 392, 448, 504, 560, 616, 672, 728, 784, 840, 896, 952]

###(1): Write a program to print numbers divisible by both 7 and 8. Numbers between 1 and 1000.

(Numbers like 56, which are both divisible by 7 and 8)

###(b): Using the pass statement

In [ ]:
result = []
for i in range(1,1001):
  div_8 = i%8
  div_7 = i%7
  if(div_8 == 0 and div_7 == 0):
    result.append(i)
  else:
    pass
print("Number divisible by 7 and 8 , using pass are : \n",result)

Number divisible by 7 and 8 , using pass are :
 [56, 112, 168, 224, 280, 336, 392, 448, 504, 560, 616, 672, 728, 784, 840, 896, 952]

###(2): Number 34567222541147 has been given. Print the addition of all even digits and the addition of all odd digits.

(Sample input = 156893, Sample Output: sum_even = 14 , sum_odd = 18)

In [ ]:
num = 34567222541147
even_num = 0
odd_num = 0
while (num!=0):
  remain = num%10
  if(remain%2 == 0):
    even_num += remain
  else:
    odd_num += remain
  num = num//10

print("Sum of odd digits : ",odd_num)
print("Sum of even digits : ",even_num)

Sum of odd digits :  29
Sum of even digits :  24

### (3): Describe conditional expression, Write a program to print the maximum and minimum numbers from a list using conditional expression.

 Use the max () and min () functions to verify your output.

In [ ]:
lis = [10 , 34 , 67 , 23 ,89 , 37 , 67 , 396]
max1 = lis[0]
min1 = lis[0]
for num in lis:
  if (num > max1):
    max1 = num
  if (num < min1):
    min1 = num

print("Max of above list is : ",max1)
print("Min of above list is : ",min1)
print("Results after using max , min functions :", max(lis) , min(lis))

Max of above list is :  396
Min of above list is :  10
Results after using max , min functions : 396 10

###(4) Pascals  Triangle : Print the following pattern for the given N number of rows.

Sample Example:

Pattern for N = 8

In [3]:
from math import *
n = int(input("Enter the number of rows you want :"))
for i in range(n):
  for j in range(n-i+1):
    print(end = " ")
  for j in range(i+1):
    print(factorial(i)//(factorial(j)*factorial(i-j)),end=" ")
  print()

Enter the number of rows you want :8
         1
        1 1
       1 2 1
      1 3 3 1
     1 4 6 4 1
    1 5 10 10 5 1
   1 6 15 20 15 6 1
  1 7 21 35 35 21 7 1

###(5) A palindrome sentence is a phrase or sentence that reads the same forward as it does backward, ignoring spaces, punctuation, and capitalization.

(A) Take a number as input, determine if it is a palindrome, considering only integers. Eg: 2442

In [ ]:
num = int(input("Enter the number you want to check for palandrome :"))
n = num
rev = 0
while (n>0):
  remain = n%10
  rev = (rev*10) + remain
  n = n//10
if (num == rev):
  print('Palandrome')
else:
  print('Not Palandrome')

Enter the number you want to check for palandrome :1221
Palandrome

(B) Now, take a string as an input and check whether it is Palindrome or not.  

eg: "Was it a car or a cat I saw"

The expected output for this example will print, 'True'

In [ ]:
string = "Was it a car or a cat I saw?"
string1 = ''.join(c.lower() for c in string if c.isalnum())
if (string1 == string1[::-1]):
  print("True")
else:
  print("False")

True

###(6) Describe chr () and ord () functions. Write a small program to show its functionality.Using these functions,write a program to print:

Pattern for N=4

  A

  B B

  C C C

  D D D D

ord( ):

 takes string argument of a single Unicode character and return its integer Unicode code point value.

 char( ):

 takes integer argument and return the string representing a character at that code point.

In [ ]:
x = ord('A')
print("Output using order function : ",x)
y = chr(65)
print("Output using char function : ",y)

Output using order function :  65
Output using char function :  A

In [ ]:
N = 4
for i in range(N):
  new_char = chr(ord('A')+i)
  print((new_char + ' ')*(i+1))

A
B B
C C C
D D D D

### 7.You have a single list of names (each name should have first name and last name). Write a programme

(a) to print the first names.

(b) to print the last names.

(c) to print each name as 'last_name first_name.

(d) to print the names in the sorted order with respect to last name

Example :Input list: ['Mark Antony', 'Mohan Raj'],

Output :

 (a) ['Mark', 'Mohan']  

(b) ['Antony', 'Raj']

(c) ['Antony Mark', 'Raj Mohan']

(d) ['Mark Antony', 'Mohan Raj']

In [ ]:
input_list = ['Mark Antony', 'Mohan Raj']

first_names = []
last_names = []
for name in input_list:
    first_names.append(name.split()[0])
    last_names.append(name.split()[1])
print("First names:", first_names)
print("Last names:", last_names)

formatted_names = []
for name in input_list:
    formatted_names.append(' '.join(name.split()[::-1]))
print("Formatted names:", formatted_names)

sorted_names1 = sorted(formatted_names)
sorted_names = []
for ele in sorted_names1:
  name = ele.split()
  sorted_names.append(name[1]+' '+name[0])
print("Sorted names:", sorted_names)

First names: ['Mark', 'Mohan']
Last names: ['Antony', 'Raj']
Formatted names: ['Antony Mark', 'Raj Mohan']
Sorted names: ['Mark Antony', 'Mohan Raj']

### (8). WAP to find the minimum of 3 numbers using

 (a) with conditional expressions. (No loops should be used)

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
min_num = a if (a < b and a < c) else (b if b < c else c)
print("Minimum of the three numbers:", min_num)

Enter first number: 2
Enter second number: 6
Enter third number: 9
Minimum of the three numbers: 2

### (8). WAP to find the minimum of 3 numbers using

(b) with nested conditional expression. (No loops should be used)

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
min_num = a if a < b else (b if b < c else c)
print("Minimum of the three numbers:", min_num)

Enter first number: 13
Enter second number: 12
Enter third number: 14
Minimum of the three numbers: 12

### (8). WAP to find the minimum of 4 numbers using

(c) with nested conditional expression. (No loops should be used)

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
d = int(input("Enter fourth number: "))
min_num = a if (a < b and a < c and a < d) else (b if (b < c and b < d) else (c if c < d else d))
print("Minimum of the four numbers:", min_num)

Enter first number: 34
Enter second number: 21
Enter third number: 54
Enter fourth number: 21
Minimum of the four numbers: 21

### (9) Create a list of departments in IIT Madras (Minimum 5 ) and perform the following operations:

  append

  remove

  pop

  insert

  reverse

  sort

  count

  index

  extend

  slice

  clear

In [ ]:
list_dep = ['CSE','Mathematics','Physics','Chemistry','Electrical','Electronics','Eng.Design']
print("List of Department :",list_dep)
list_dep.append('Biotech')
print("After append : ",list_dep)

list_dep.remove('Physics')
print("After remove the list is : ",list_dep)

list_dep.pop(2)
print("After pop from 3rd index the list is : ",list_dep)

list_dep.insert(2,'Aerospace')
print("After insert biotech at 3rd index the list is : ",list_dep)

list_dep.reverse()
print("After reverse the list is : ",list_dep)

list_dep.sort()
print("After sorting the list is : ",list_dep)

coun= list_dep.count('Mathematics')
print("Count of mathematics department is : ",coun)

ind = list_dep.index('Mathematics')
print("Index of Mathematics in list is : ",ind)

list_dep1 = ['NanoTechnology','DOMS']
list_dep.extend(list_dep1)
print("After extending the list is : ",list_dep)

sli = slice(1,6,2)
print("After slicing the list is : ",list_dep[sli])

list_dep.clear()
print("After using clear function the list is  : ",list_dep)

List of Department : ['CSE', 'Mathematics', 'Physics', 'Chemistry', 'Electrical', 'Electronics', 'Eng.Design']
After append :  ['CSE', 'Mathematics', 'Physics', 'Chemistry', 'Electrical', 'Electronics', 'Eng.Design', 'Biotech']
After remove the list is :  ['CSE', 'Mathematics', 'Chemistry', 'Electrical', 'Electronics', 'Eng.Design', 'Biotech']
After pop from 3rd index the list is :  ['CSE', 'Mathematics', 'Electrical', 'Electronics', 'Eng.Design', 'Biotech']
After insert biotech at 3rd index the list is :  ['CSE', 'Mathematics', 'Aerospace', 'Electrical', 'Electronics', 'Eng.Design', 'Biotech']
After reverse the list is :  ['Biotech', 'Eng.Design', 'Electronics', 'Electrical', 'Aerospace', 'Mathematics', 'CSE']
After sorting the list is :  ['Aerospace', 'Biotech', 'CSE', 'Electrical', 'Electronics', 'Eng.Design', 'Mathematics']
Count of mathematics department is :  1
Index of Mathematics in list is :  6
After extending the list is :  ['Aerospace', 'Biotech', 'CSE', 'Electrical', 'Electronics', 'Eng.Design', 'Mathematics', 'NanoTechnology', 'DOMS']
After slicing the list is :  ['Biotech', 'Electrical', 'Eng.Design']
After using clear function the list is  :  []